<div class="alert alert-danger" *ngIf="errorMsg">
{{errorMsg}}
</div>
<form (submit)="submit(form.value)" [formGroup]="form" *ngIf="form">
  <div mat-dialog-content [style.max-height]="isModal ? '65vh' : 'inherit'" class="pt-1">

    <!-- CONSUMER FIELD ON PLUGINS -->
    <ng-container *ngIf="isPlugin">
      <mat-form-field class="example-full-width" class="w-100" appearance="outline">
        <mat-label>Consumer</mat-label>
        <input type="text" placeholder="Search by username, custom_id or id"
               matInput formControlName="consumer" [matAutocomplete]="auto">
        <mat-progress-spinner mode="indeterminate"
                              *ngIf="!consumers"
                              matSuffix
                              color="primary" diameter="30"></mat-progress-spinner>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let consumer of filteredConsumers | async" [value]="consumer">
            {{consumer.username || consumer.custom_id || consumer.id}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>

    <ng-container *ngFor="let field of fields" [ngSwitch]="field.type">

      <!-- STRING -->
      <ng-container *ngSwitchCase="'string'">
        <mat-form-field [appearance]="'outline'" class="w-100">
          <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>
          <!-- PLAIN STRING -->
          <input *ngIf="!field.one_of" matInput formControlName="{{field.name}}">

          <!-- SELECT -->
          <mat-select *ngIf="field.one_of" formControlName="{{field.name}}">
            <mat-option *ngFor="let item of field.one_of" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <!-- INTEGER -->
      <ng-container *ngSwitchCase="'integer'">
        <mat-form-field [appearance]="'outline'" class="w-100">
          <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>
          <input type="number" matInput formControlName="{{field.name}}">
        </mat-form-field>

      </ng-container>

      <!-- NUMBER -->
      <ng-container *ngSwitchCase="'number'">
        <mat-form-field [appearance]="'outline'" class="w-100">
          <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>
          <input type="number" matInput formControlName="{{field.name}}">
        </mat-form-field>
      </ng-container>


      <!-- BOOLEAN -->
      <ng-container *ngSwitchCase="'boolean'">
        <mat-form-field [appearance]="'fill'" class="w-100 decor">
          <input matInput placeholder="Input" style="display: none" >
          <mat-slide-toggle
                  formControlName="{{field.name}}">
            {{field.label}}
          </mat-slide-toggle>
        </mat-form-field>
      </ng-container>

      <!-- ARRAY -->
      <ng-container *ngSwitchCase="'array'">
        <mat-form-field [appearance]="'outline'" class="w-100">
          <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let item of form.get(field.name).controls; let i = index;" [selectable]="true"
                      [removable]="true" (removed)="remove(i, field.name)">
              {{item.value}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add.."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event, field.name)">
          </mat-chip-list>
        </mat-form-field>
      </ng-container>

      <!-- SET -->
      <ng-container *ngSwitchCase="'set'">
        <mat-form-field [appearance]="'outline'" class="w-100">
          <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>
          <ng-container *ngIf="field.elements?.one_of">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let item of form.get(field.name).controls; let i = index;" [selectable]="true"
                        [removable]="true" (removed)="remove(i, field.name)">
                {{item.value}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add.."
                     id="{{'input_' + field.name}}"
                     [matChipInputFor]="chipList"
                     [matAutocomplete]="auto"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChipAutocompleteOptionSelected($event, field.name)">
              <mat-option *ngFor="let item of filterAvailableOptions(field.elements.one_of, form.get(field.name).value)" [value]="item">
                {{item}}
              </mat-option>
            </mat-autocomplete>
          </ng-container>

          <ng-container *ngIf="!field.elements?.one_of">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let item of form.get(field.name).controls; let i = index;" [selectable]="true"
                        [removable]="true" (removed)="remove(i, field.name)">
                {{item.value}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add.."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="add($event, field.name)">
            </mat-chip-list>
          </ng-container>
        </mat-form-field>

      </ng-container>

      <!-- TEXT -->
      <ng-container *ngSwitchCase="'text'">
        <mat-form-field [appearance]="'outline'" class="w-100">
          <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    formControlName="{{field.name}}"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </ng-container>

      <!-- RECORD -->
      <ng-container *ngSwitchCase="'record'">
        <h3 class="mat-subheading-2 text-capitalize bg-light p-2">{{field.name}}</h3>
        <!-- TODO -->

      </ng-container>

      <!-- DEFAULT -->
      <ng-container *ngSwitchDefault>
        <mat-form-field [appearance]="'outline'" class="w-100">
          <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>
          <input matInput formControlName="{{field.name}}">
        </mat-form-field>

      </ng-container>

    </ng-container>

  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="accent"
            class="btn-large w-100 mt-2 text-center" [disabled]="!form.valid || submitting">
      <mat-progress-spinner mode="indeterminate"
                            *ngIf="submitting"
                            color="primary" diameter="36" class="float-left">
      </mat-progress-spinner>
      {{existingData ? ('konga.save_changes' | translate) : ('konga.submit' | translate)}}
    </button>
  </div>
</form>