<h1 mat-dialog-title>
  <strong>{{existingData ? ('konga.update' | translate) : ('konga.create' | translate)}} {{entity.singularName | translate}}</strong>
  <button mat-icon-button (click)="close()" class="float-right" style="margin-top: -5px;">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<anms-kong-form [entity]="entity"
                [extras]="extras"
                [isModal]="isModal"
                [existingData]="existingData"
                (submitted)="close($event)"
></anms-kong-form>