@import '../../styles-variables';

.footer {
  //flex: 0 0 auto;
  width: calc(100% - 250px) !important;
  position: fixed;
  bottom: 0;
  padding: 0 15px;
  text-align: center;

  //.row {
  //  padding: 10px 0;
  //
  //  .links {
  //    a {
  //      transition: padding 0.5s;
  //      display: inline-block;
  //      padding: 20px 5px;
  //
  //      &:hover {
  //        text-decoration: none;
  //      }
  //
  //      fa-icon {
  //        font-size: 30px;
  //        width: 35px;
  //      }
  //
  //      span {
  //        display: inline-block;
  //        width: 75px;
  //        padding: 0 0 0 3px;
  //        overflow: hidden;
  //        text-align: left;
  //        white-space: nowrap;
  //        transition: width 0.5s;
  //      }
  //    }
  //
  //    @media (min-width: map-get($grid-breakpoints, lg)) {
  //      a {
  //        padding: 20px 10px;
  //      }
  //    }
  //
  //    @media (max-width: map-get($grid-breakpoints, md)) {
  //      a {
  //        padding: 20px;
  //
  //        span {
  //          width: 0;
  //          padding: 0;
  //        }
  //      }
  //    }
  //
  //    @media (max-width: map-get($grid-breakpoints, sm)) {
  //      a {
  //        padding: 20px 5px;
  //      }
  //    }
  //  }
  //
  //  @media (min-width: map-get($grid-breakpoints, sm)) {
  //    .signature {
  //      position: relative;
  //
  //      a {
  //        position: absolute;
  //        right: 15px;
  //      }
  //    }
  //  }
  //}

}