<anms-page-loader *ngIf="!service"></anms-page-loader>
<div class="container pb-4" *ngIf="service">
  <h1 class="mb-4 pt-4">
    {{'konga.service' | translate}} {{service.name}}&nbsp;
  </h1>

  <div class="row">
    <div class="col-md-3">

      <mat-nav-list>
        <a mat-list-item
           routerLinkActive="active"
           [routerLink]="[{ outlets: { service: ['details'] } }]">
          <mat-icon class="mr-3 text-secondary">info_outline</mat-icon>
          {{'konga.service.tab_details_label' | translate}}
        </a>

        <a mat-list-item
           routerLinkActive="active"
           [routerLink]="[{ outlets: { service: ['routes'] } }]">
          <mat-icon class="mr-3 text-secondary">repeat</mat-icon>
          {{'konga.service.tab_routes_label' | translate}}
        </a>

        <a mat-list-item
           routerLinkActive="active"
           [routerLink]="[{ outlets: { service: ['plugins'] } }]">
          <mat-icon class="mr-3 text-secondary">extension</mat-icon>
          {{'konga.service.tab_plugins_label' | translate}}
        </a>

        <a mat-list-item
           routerLinkActive="active"
           [routerLink]="[{ outlets: { service: ['consumers'] } }]">
          <mat-icon class="mr-3 text-secondary">supervised_user_circle</mat-icon>
          {{'konga.service.tab_consumers_label' | translate}}
        </a>


      </mat-nav-list>
    </div>
    <div class="col-md-8 pt-2">
      <router-outlet name='service'></router-outlet>
    </div>
  </div>
</div>