<h2>
  {{existingConnection ? ('konga.edit_connection' | translate) : ('konga.new_connection' | translate)}}
  <button mat-icon-button class="float-right" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<p class="mb-4">{{existingConnection ? ('konga.edit_connection.subtitle' | translate) : ('konga.new_connection.subtitle' | translate)}}</p>

<anms-connection-form
        (connectionCreated)="created($event)"
        (connectionUpdated)="updated($event)"
        [existingConnection]="existingConnection"></anms-connection-form>
