<div class="container mt-4 pb-4">

  <div class="row mb-4 align-items-center">
    <div class="col-md-8">
      <h1>{{'konga.users.list.title' | translate}}</h1>
    </div>
    <div class="col-md-4">
      <form [formGroup]="form" *ngIf="form" class="sign-up-form mt-4">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput
                 formControlName="term"
                 placeholder="{{'konga.search_by' | translate}} {{getSearchableTitleItemsTitles().join(', ')}}...">
          <mat-icon matPrefix>search</mat-icon>
          <mat-progress-spinner mode="indeterminate"
                                *ngIf="isLoading"
                                matSuffix
                                color="primary" diameter="30"></mat-progress-spinner>
        </mat-form-field>
      </form>

    </div>
  </div>

  <mat-card class="mb-4">
    <mat-paginator [length]="data?.totalCount"
                   [pageSize]="limit"
                   [pageIndex]="page"
                   (page)="onPageChange($event)"
                   [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <tr>
          <th *ngFor="let item of titleItems">
            <a href="javascript:void(0)" (click)="sort(item.property)" class="float-left mr-2">
              {{item.title | translate}}

            </a>
            <div *ngIf="sortAttr === item.property" class="d-inline-block">
              <mat-icon>{{sortDir === 'DESC' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
            </div>
          </th>
          <th></th>
        </tr>
        <tr *ngFor="let item of data.results">
          <td width="1">
            <mat-icon
                    [ngClass]="{'text-success' : item.active, 'text-danger': !item.active}"
                    [matTooltipPosition]="'above'"
                    matTooltip="{{item.active ? 'Active' : 'Inactive'}}">radio_button_checked</mat-icon>
          </td>
          <td width="1">
            <mat-icon
                    [ngClass]="{'text-warning' : item.isSuperAdmin, 'text-secondary': !item.isSuperAdmin}"
                    [matTooltipPosition]="'above'"
                    matTooltip="{{item.isSuperAdmin ? 'Super Admin' : 'User'}}">{{item.isSuperAdmin ? 'stars' : 'account_box'}}</mat-icon>
          </td>
          <td>
            <a [routerLink]="['/users', item.id]">
              <strong>{{item.fullName}}</strong>
            </a>
          </td>
          <td>{{item.emailAddress}}</td>
          <td>{{item.createdAt | date}}</td>
          <td width="1">
            <button mat-button color="warn" (click)="onDeleteItem(item)">
              <mat-icon matPrefix>delete</mat-icon>
              {{'konga.delete' | translate}}
            </button>
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="data?.totalCount"
                   [pageSize]="limit"
                   (page)="pageEvent = onPageChange($event)"
                   [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </mat-card>
</div>