$custom-typography: mat-typography-config($font-family: '"Lato", sans-serif;');
@include mat-core($custom-typography);

$anms-primary: mat-palette($mat-konga, 800, 300, 900);
$anms-accent: mat-palette($mat-konga-teal);
$anms-warn: mat-palette($mat-pink, 600);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
