<div class="row align-items-center">
  <div class="col-md-12">
    <h1 class="m-0 p-0">{{'konga.consumer.credentials.title' | translate}}</h1>
    <p class="help-block">{{'konga.consumer.credentials.subtitle' | translate}}</p>
  </div>
</div>

<nav mat-tab-nav-bar color="accent">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    <mat-icon class="mr-2">{{link.icon}}</mat-icon>
    <strong>{{link.label.toUpperCase()}}</strong>
  </a>
</nav>

<router-outlet name="credentials"></router-outlet>