<div class="row align-items-center">
  <div class="col-md-12">
    <h1 class="m-0 p-0">{{'konga.consumer.credentials.title' | translate}}</h1>
    <p class="help-block">{{'konga.consumer.credentials.subtitle' | translate}}</p>
  </div>
</div>

<mat-tab-group mat-stretch-tabs dynamicHeight color="accent" [(selectedIndex)]="selectedIndex">
  <mat-tab *ngFor="let link of navLinks">
    <ng-template mat-tab-label>
      <mat-icon class="mr-2">{{link.icon}}</mat-icon>
      <strong>{{link.label.toUpperCase()}}</strong>
    </ng-template>
  </mat-tab>
</mat-tab-group>


<anms-consumer-basic-auth *ngIf="selectedIndex === 0"></anms-consumer-basic-auth>
<anms-consumer-key-auth *ngIf="selectedIndex === 1"></anms-consumer-key-auth>
<anms-consumer-hmac-auth *ngIf="selectedIndex === 2"></anms-consumer-hmac-auth>
<anms-consumer-oauth2 *ngIf="selectedIndex === 3"></anms-consumer-oauth2>
<anms-consumer-jwt *ngIf="selectedIndex === 4"></anms-consumer-jwt>

<!--<nav mat-tab-nav-bar color="accent">-->
  <!--<a mat-tab-link-->
     <!--*ngFor="let link of navLinks"-->
     <!--[routerLink]="link.path"-->
     <!--routerLinkActive #rla="routerLinkActive"-->
     <!--[active]="rla.isActive">-->
    <!--<mat-icon class="mr-2">{{link.icon}}</mat-icon>-->
    <!--<strong>{{link.label.toUpperCase()}}</strong>-->
  <!--</a>-->
<!--</nav>-->

<!--<router-outlet name="credentials"></router-outlet>-->