<h1 mat-dialog-title>
    <strong>{{'konga.services.new_service' | translate}}</strong>
    <button mat-icon-button (click)="close()" class="float-right" style="margin-top: -5px;">
        <mat-icon>close</mat-icon>
    </button>
</h1>
<form (submit)="submit(form.value)" [formGroup]="form" *ngIf="form">
    <div mat-dialog-content>

        <div *ngFor="let field of fields" [ngSwitch]="field.type">
            <!-- STRING -->
            <ng-container *ngSwitchCase="'string'">


                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>

                    <!-- PLAIN STRING -->
                    <ng-container *ngIf="!field.one_of">
                        <input matInput formControlName="{{field.name}}">
                    </ng-container>


                    <!-- SELECT -->
                    <ng-container *ngIf="field.one_of">
                        <mat-select formControlName="{{field.name}}">
                            <mat-option *ngFor="let item of field.one_of" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </ng-container>

                    <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
                    <mat-error *ngIf="form.controls[field.name].hasError('required')">
                        {{'errors.validation.required' | translate}}
                    </mat-error>
                </mat-form-field>

            </ng-container>

            <!-- INTEGER -->
            <ng-container *ngSwitchCase="'integer'">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{field.label}} <span *ngIf="field.required" class="text-danger">*</span></mat-label>
                    <!-- PLAIN STRING -->
                    <ng-container>
                        <input type="number" matInput formControlName="{{field.name}}">
                    </ng-container>
                    <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
                    <mat-error *ngIf="form.controls[field.name].hasError('required')">
                        {{'errors.validation.required' | translate}}
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>

    </div>
    <div mat-dialog-actions>
        <button mat-flat-button color="accent"
                class="btn-large w-100 mt-2 text-center" [disabled]="!form.valid || submitting">
            <mat-progress-spinner mode="indeterminate"
                                  *ngIf="submitting"
                                  color="primary" diameter="36" class="float-left">
            </mat-progress-spinner>
            {{existingData ? ('konga.save_changes' | translate) : ('konga.create_service' | translate)}}
        </button>
    </div>
</form>