@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons|Montserrat:400,700');
@import '~@angular/material/theming';

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Montserrat', sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

//$font-size-base:              0.9rem !default;

//** By default, this inherits from the `<body>`.
$headings-font-weight:    700;
//$headings-line-height:    1.1;
//$headings-color:          #444;


$toolbar-breakpoint: 600px;

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);
