@import 'styles-variables';
@import "bootstrap";
@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/examples/notifications/components/notifications.component.scss-theme';
@import 'app/examples/todos/components/todos-container.component.scss-theme';
@import 'app/examples/stock-market/components/stock-market-container.component.scss-theme';
@import 'app/examples/theming/parent/parent.component.scss-theme';
@import 'app/examples/theming/child/child.component.scss-theme';
@import 'app/examples/examples/examples.component.scss-theme';

@import "json.human";

@mixin custom-components-theme($theme) {
  @include konga-styles-reset-theme($theme);
  @include konga-app-component-theme($theme);
  @include konga-big-input-component-theme($theme);
  @include konga-notifications-component-theme($theme);
  @include konga-todos-container-component-theme($theme);
  @include konga-stock-market-container-component-theme($theme);
  @include konga-parent-component-theme($theme);
  @include konga-child-component-theme($theme);
  @include konga-examples-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);

  //a {
  //  color: mat-color($mat-konga-teal, 500)
  //}
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);
}

.nature-theme {
  @include angular-material-theme($anms-nature-theme);
  @include custom-components-theme($anms-nature-theme);
}



.btn-large {
  height: 56px;
  font-size: 1.2em;
}

/**
Vertical tabs
 */

mat-tab-group[vertical] .mat-tab-labels {
  display: flex;
  flex-direction: column!important;
}

mat-tab-group[vertical] {
  display: flex;
  flex-direction: row!important;
}


.mat-list-item.active {
  font-weight: 700;
  color: map_get($mat-konga-teal, 500) !important;
  mat-icon {
    color: map_get($mat-konga-teal, 500) !important;
  }

}

.main-sidenav {
  .mat-drawer-inner-container {
    background: map_get($mat-konga, 800);

    .branding {
      background: map_get($mat-konga, 900);
      color: #fff
    }

    .mat-list-item.active {
      font-weight: 400;
      background: map_get($mat-konga, 300) !important;
      color: $gray-100 !important;
      mat-icon {
        color: $gray-100 !important;
      }
    }

    .mat-list-item {
      color: $gray-500
    }

  }

}

.fab {
  position: fixed !important;

  &.bottom {
    bottom: 4.5rem;
  }

  &.right {
    right: 3rem;
  }
}

.table {

  tr {

    &.disabled {
      opacity: .5;
      //th, td {
      //  background: #f4f4f4;
      //}
      text-decoration: line-through;
    }

    th, td {
      vertical-align: middle !important;
    }

    th {
      background: $gray-200;
    }
  }
}

input.mat-input-element {
  padding-bottom: 0.15rem;
}

.main-sidenav {
  background: map_get($mat-konga, 900);
}

.ngx-charts-container {
  min-height: 215px;
}

.help-block {
  color: $gray-600;
  font-size: 0.92em;
}

.mat-form-field-wrapper {
  margin: 0 !important;
  .mat-form-field-subscript-wrapper {
    position: relative !important;
    .mat-form-field-hint-wrapper {
      display: block !important;
    }
  }
}

.section-header {
  background-color: #ededed;
  padding: 1em;
  border-radius: 3px;
  //border-bottom: 1px solid $gray-300;
  //padding-bottom: 15px;
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

.mat-form-field.decor {
  .mat-form-field-wrapper {

    .mat-form-field-infix {
      border-top: 0em solid transparent !important;
    }

    .mat-form-field-underline {
      display: none !important;
    }
  }
}

mat-card.selected {
  border: 2px solid $success;
}