<div class="row align-items-center">
  <div class="col-md-7">
    <h2 class="m-0 p-0">Key Auth</h2>
  </div>
  <div class="col-md-5">
    <form [formGroup]="form" *ngIf="form" class="sign-up-form mt-4">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput
               formControlName="term"
               placeholder="{{'konga.search_by' | translate}} {{getSearchableTitleItemsTitles().join(', ')}}...">
        <mat-icon matPrefix>search</mat-icon>
        <mat-progress-spinner mode="indeterminate"
                              *ngIf="isLoading"
                              matSuffix
                              color="primary" diameter="30"></mat-progress-spinner>
      </mat-form-field>
    </form>

  </div>
</div>

<anms-page-loader *ngIf="!data"></anms-page-loader>

<mat-card class="mb-4 p-0" *ngIf="data">
  <div class="table-responsive">
    <table class="table mb-0">
      <tr>
        <th></th>
        <th *ngFor="let item of titleItems">
          <div class="d-flex align-items-center">
            <a href="javascript:void(0)" (click)="sort(item.property)"
               [ngClass]="{'text-success': sortAttr === item.property}"
               class="float-left mr-2">
              {{item.title | translate}}
            </a>
            <span *ngIf="sortAttr === item.property" class="d-inline-flex" [ngClass]="{'text-success': sortAttr === item.property}">
                <mat-icon style="font-size: 0.9rem; height: 0.9rem">{{sortDir === 'desc' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
              </span>
          </div>
        </th>
        <th></th>
      </tr>
      <tr *ngFor="let item of data">
        <td width="1">
          <anms-raw-view [data]="item"></anms-raw-view>
        </td>
        <td>
          {{item.key}}
        </td>
        <td>{{item.created_at * 1000 | date}}</td>
        <td width="1">
          <button mat-button color="warn" (click)="onDeleteItem(item)">
            <mat-icon matPrefix>delete</mat-icon>
            {{'konga.delete' | translate}}
          </button>
        </td>
      </tr>
    </table>
  </div>
  <mat-divider></mat-divider>
  <mat-paginator [length]="originalData?.length"
                 [pageSize]="limit"
                 (page)="pageEvent = onPageChange($event)"
                 [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</mat-card>
<button mat-fab class="fab bottom right"
        *ngxPermissionsOnly="['superAdmin', 'servicesCreate']"
        (click)="openCreateModal()">
  <mat-icon>add</mat-icon>
</button>